{{- $profile := env "CHEZMOI_PROFILE" | default (ne (env "DEVPOD") "" | ternary "devpod" "full") }}
{{ if eq $profile "devpod" -}}
# Skip files that are bind-mounted in DevPod environments
.gitconfig
{{ end -}}
