default_layout "workspace"

pane_frames true
mouse_mode true
scroll_buffer_size 50000
copy_clipboard "system"
copy_on_select true
on_force_close "detach"
session_serialization true
show_startup_tips false
show_release_notes false

keybinds {
    shared_except "locked" {
        bind "Alt g" {
            Run "lazygit" {
                floating true
                x "5%"
                y "5%"
                width "90%"
                height "90%"
                close_on_exit true
                name "lazygit"
            }
        }
        bind "Alt w" {
            Run "zj" {
                floating true
                x "10%"
                y "10%"
                width "80%"
                height "80%"
                close_on_exit true
                name "workspaces"
            }
        }
    }
}
